body {
  font-family: Georgia, serif;
  background-color: #000000;
  background-image: url('images/oldpages.jpg');
  background-repeat: no-repeat;
  font-size: 11pt;
  margin: 0;
  padding: 0;
}

h1 {
  position: absolute;
  text-align: center;
  width: 400px;
  top: 10px;
  left: 40px;
  font-size: 12pt;
}

h2 {
  position: absolute;
  text-align: center;
  width: 400px;
  top: 10px;
  left: 520px;
  font-size: 12pt;
  font-weight: normal;
}

#page_left {
  position: absolute;
  width: 400px;
  top: 0px;
  left: 0px;
  margin: 60px 40px 60px 40px;
  text-align: justify;
}

#page_right {
  position: absolute;
  width: 400px;
  top: 0px;
  left: 480px;
  margin: 60px 40px 60px 40px;
  text-align: justify;
}

#footer {
  position: absolute;
  top: 620px;
  left; 0px;
  width: 920px;
  margin: 20px;
  font-size: 9pt;
  color: #666666;
  text-align: center;
}

#next_link {
  position: absolute;
  top: 540px;
  left: 480px;
  width: 400px;
  text-align: right;
  margin: 40px;
}